.create_wrap {
    display: grid;
    width: calc(100vw);
    margin: 0 auto;
    height: 100vh;
    grid-template-rows: 10% 10% auto 10% 10%;
    --form-width: 60%;
    gap: .5rem;
}

.create_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: var(--form-width);
    height: 100%;
    gap: 2rem;
}

.icon_wrap {
    display: grid;
    grid-template-columns: var(--icon-size);
    place-items: center;
    gap: 1rem
}

.input_wrap {
    display: grid;
    place-self: center;
    grid-template-rows: 50% 10% auto;
    width: var(--form-width);
    gap: 1rem;
    height: calc( 100% - 1rem )
}

.add_tags_wrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inputs {
    display: flex;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    font-family: 'Poppins';
    font-size: var(--font-size);
    background-color: var(--bg);
    border-radius: .2rem;
    resize: none;
    outline: none;
    border: 2px solid var(--accent);
    padding: 1rem;
    color: white;
}

.add_tags {
    cursor: pointer;
    display: grid;
    font-size: var(--icon-size);
    place-self: center;
}

.inputs::placeholder {
    display: flex;
    align-items: flex-start;
}

.default_icon {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
    background: linear-gradient( var(--blue), var(--red) );
    border-radius: 50%;
  }

  @media (max-width: 600px) {
      .create_wrap {
          --form-width: calc( 100% - )
      }
  }