.comments_wrap {
    display: grid;
    width: calc(100vw);
    margin: 0 auto;
    height: 100vh;
    grid-template-rows: 10% 10% auto 10%;
    --border: 3px;
}

.comment_layout_wrap {
    display: grid;
    grid-template-rows: calc( 100% - 4rem ) 4rem;
    gap: 1rem;
    margin: 0 auto;
    width: calc( 100% - 4px - 10rem );
    height: calc(100vh - 3 * 10vh - 4px);
    /* max-height: calc(100vh - 3 * 10vh - 4px); */
    /* overflow-y: auto; */
    /* border: 2px solid var(--accent); */
    /* border-radius: .4rem .4rem 0 0; */
}

.comment_section {
    max-height: calc(100vh - 3 * 10vh - 4px - 3rem);
    overflow-y: auto;
    border: 2px solid var(--accent);
    border-radius: .4rem; 
}

.comment_input {
    display: grid;
    grid-template-columns: calc(96%) var(--icon-size);
    gap: 1rem;
    align-items: center;
    height: var(--icon-size);
}

.response_branch {
    position: relative;
    display: grid;
    justify-self: start;
    /* align-self: ; */
    width: 100%;
    height: 50%;
    border-radius: 0 0 0 .4rem;
    border-left: var(--border) solid white;
    border-bottom: var(--border) solid white;
    margin: 0 calc( -1 * var(--border) );
}

.response_branch::after {
    --common-denominator: 2;
    position: absolute;
    display: grid;
    content: "";
    left: 100%;
    top: calc(100% - calc( var(--common-denominator) * var(--border ) ));
    width: calc( calc(var(--common-denominator) + 1) * var(--border));
    height: calc( calc(var(--common-denominator) + 1) * var(--border));
    border-radius: 50%;
    border: var(--border) solid white;
}

.response {
    position: relative;
    display: grid;
    grid-template-columns: var(--icon-size) auto;
    grid-auto-rows: 3rem;
    width: calc( 100% - 2rem - var(--icon-size) );
    margin: 0 auto;
    gap: 1rem;
    border-left: var(--border) solid white;
}

.response:last-child {
    /* opacity: -; */
    border-left: 0px solid white;
}

.response:last-child .response_branch {
    /* opacity: -; */
    margin: 0 calc(var(--border) * -.5);
}div > .response:first-child {
    position: relative;
}
  
div > .response:first-child::before { 
    --common-denominator: 2;
    position: absolute;
    display: grid;
    content: "";
    right: calc(100% - var(--common-denominator) * var(--border));
    top: calc( calc(var(--common-denominator) + 1) * var(--border) * -1 - var(--border));
    width: calc( calc(var(--common-denominator) + 1) * var(--border));
    height: calc( calc(var(--common-denominator) + 1) * var(--border));
    border-radius: 50%;
    border: var(--border) solid white;
}

.decor {
    width: 4vw;
    height: .5rem;
    border-radius: 1rem;
    background-color: var(--accent);
    margin: 1rem auto;
}

.comment_contents {
    font-family: 'Poppins';
    font-size: var(--font-size);
    color: white;
}

.comment_wrap {
    display: grid;
    grid-template-columns: var(--icon-size) auto;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;    
    justify-content: left;
    width: calc( 100% - 2rem );
    height: 3rem;
}